<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Topic List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let topic of topics | async">
        <td>{{topic.id}}</td>
        <td>{{topic.name}}</td>
        <td>{{topic.description}}</td>
        <td>

          <button (click)="topicDetails(topic.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          <button (click)="deleteTopic(topic.id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
